
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {include file="layout/head" /}
</head>

<body class="body-mg01">
<div class="header fix header-bg01 wow fadeInDown">
    <span class="menuBtn"></span>
    {include file="layout/banner" /}
</div>
{include file="layout/shutter" /}
<div class="main">
    <div class="product-course">
        <div class="title wow fadeInDown">
            <a class="on" href="http://www.zhixinlawoffice.com/list-19-1.html">知信文集</a>
            <a class="" href="http://www.zhixinlawoffice.com/list-20-1.html">热门课程</a>
        </div>
    </div>
    <div class="wp">
        <ul class="article-list">
            <li class="wow fadeInUp" data-wow-delay=".1s">
                <div class="title">
                    <div class="time">2019-04-28</div>
                    <h3><a href="http://www.zhixinlawoffice.com/show-19-235-1.html" target="_blank">4.26知产日--我们直接上“硬核”</a></h3>
                </div>
                <div class="desc">
                </div>
            </li>

            <li class="wow fadeInUp" data-wow-delay=".2s">
                <div class="title">
                    <div class="time">2019-04-26</div>
                    <h3><a href="http://www.zhixinlawoffice.com/show-19-231-1.html" target="_blank">《中华人民共和国商标法》（2019年） 修改对照表及修改意义</a></h3>
                </div>
                <div class="desc">
                </div>
            </li>

            <li class="wow fadeInUp" data-wow-delay=".3s">
                <div class="title">
                    <div class="time">2019-04-26</div>
                    <h3><a href="http://www.zhixinlawoffice.com/show-19-230-1.html" target="_blank">《中华人民共和国反不正当竞争法》（2019年） 修改对照表及修改意义</a></h3>
                </div>
                <div class="desc">
                </div>
            </li>

            <li class="wow fadeInUp" data-wow-delay=".4s">
                <div class="title">
                    <div class="time">2019-04-26</div>
                    <h3><a href="http://www.zhixinlawoffice.com/show-19-229-1.html" target="_blank">如何躲过网络图片侵权的那些坑？</a></h3>
                </div>
                <div class="desc">
                </div>
            </li>

            <li class="wow fadeInUp" data-wow-delay=".5s">
                <div class="title">
                    <div class="time">2019-04-25</div>
                    <h3><a href="http://www.zhixinlawoffice.com/show-19-228-1.html" target="_blank">汽车欺诈涉诉大数据报告</a></h3>
                </div>
                <div class="desc">
                </div>
            </li>




        </ul>
        <div style="clear:both;"></div>
        <div id="pages"><a class="a1">10条</a> <a href="list-18-0.html" class="a1">上一页</a> <span>1</span> <a href="list-18-2.html">2</a> <a href="list-18-2.html" class="a1">下一页</a></div>
        <div style="clear:both;"></div>
    </div>
</div>

{include file="layout/footer" /}