<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
<meta name="renderer" content="webkit"/>
<meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
<meta name="format-detection" content="telephone=no"/>
<title>{$title?$title:$cf['title']}</title>
<meta name="keywords" content="{$cf['keyword']}"/>
<meta name="description" content="{$cf['msg']}"/>
<link rel="stylesheet" href="__CSS__/style.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/animate.min.css"/>
<link rel="stylesheet" href="__CSS__/shutter.css">
<style>
    .pagination li {
        display: inline;
    }
</style>