<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>关于我们</title>
        {include file="layout/head" /}
    </head>
    <style type="text/css">
        .font {
            width: 72%;
            height: auto;
            margin: 0 auto;
        }
    </style>
    <body style="background:white;">
        <header class="mui-bar mui-bar-nav my-header" style="background-color: #2A2A2A">
            <a href="/index/member/index" class="mui-icon mui-icon-left-nav mui-pull-left" style="color:white"></a>

            <h1 id="title" class="mui-title" style="color:white">关于我们</h1>
        </header>
        <!--<div class="mui-content" style="background: white;">-->
        <br>
            <div class="img" style="text-align: center;width:100%;">
                    <img src="/static/img/guan.png" style="width: 100%;margin-top: 20px;height: 100%"/>
            </div>
<!--            <div class="font">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RCRC消费通证属于IEO（Initial EV Offerings）模式，是企业基于消费为基础，依托专业的第三方资产产业平台，首次发售消费赠送方式进行通证流通。
在IEO模式中投资者有消费资源（产品或者服务）赠送权益分红而不是纯投资，风险几乎为零。IEO是一种价值层面的共享经济模式，可以为企业快速聚拢消费群体，巩固消费市场，达到企业消费者以及第三方服务共识、共赢的局面。
                </p>
            </div>-->
        <!--</div>-->
        {include file="layout/footer" /}
    </body>
</html>